@import "../../../styles/mixins.scss";


.parallax {
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .parallax .scroller {
    @include text(240px, 240px, 800, Codenext);
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }