@import "../../../styles/mixins.scss";


.parallax {
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;

    &:first-child {
      margin-bottom: 47svh;
    }
  }
  
  .parallax .scroller {
    @include text(130px, 130px, 800, Codenext);
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;

    @media (max-width: 800px) {
      @include text(80px, 80px, 800, Codenext); 
    }
  }