@import "@/styles/mixins.scss";

.logo {
    object-fit: contain;
    border-radius: 36px;
    position: relative !important;
    height: 336px !important;
    width: auto !important;

    @media (max-width: 1200px) {
        height: fit-content !important;
        width: 40vw !important;
    }
}

.logoContainer {
    @include flexCenter();
    align-items: flex-start;
    flex-direction: column;
    min-width: 336px;
    // height: 336px;
    position: relative;
    cursor: pointer;

    &:hover {
        transform: scale(101%)
    }

    transition: all 0.5s;

    text-decoration: none;

    @media (max-width: 1200px) {
        min-width: 0;
        max-width: 40vw;
        height: unset;
        justify-content: flex-start;
    }
}

.descriptionContainer {
    position: relative;
    left: 1.5em;
    min-height: 100px;

    @media (max-width: 1200px) {
        left: 0;
    }
}

.title {
    @include text(24px, 35.16px, 800, Codenext);
    color: black;

    @media (max-width: 800px) {
        @include text(14px, 21px, 800, Codenext);
        color: black;
        margin-top: 1em;
    }
}

.secondaryText {
    @include text(16px, 17.28px, 400);
    color: black;
    width: 80%;

    @media (max-width: 800px) {
        @include text(12px, 14px, 400);
        color: black;
    }
}

.serviceText {
    @include text(18px, 20.8px, 700);
    @include fontBackground();
    margin: 1em 0 1em 0;
    position: relative;
    left: 1.5em;

    @media (max-width: 1200px) {
        display: none;
    }
}