@import "../../../styles/mixins.scss";

.navbar {
    position: absolute;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.links {
    display: flex;
    gap: 6em;

    &.dark {
        a {
            background: none;
            -webkit-background-clip: unset;
            -webkit-text-fill-color: white;
            background-clip: unset;
            text-decoration: none;
        }
    }

    a {
        @include text();
        @include fontBackground();
        text-decoration: none;
    }
}

.button {
    @include text();
    @include button();

    &.dark {
        background: transparent;
    }
}