@import "../mixins.scss";

.firstSection {
    @include flexCenter();
    flex-direction: column;
    height: 100vh;
    margin-bottom: 5em;
}

.secondSection {
    @include flexCenter();
    background: linear-gradient(5deg, #34C3FB 1%, #5149e0 99%);
    justify-content: space-between;
    position: relative;
    height: 105vh;
    object-fit: contain;
    overflow: hidden;
    margin-bottom: 2em;
}

.thirdSection {
    @include flexCenter();
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    height: 100vh;
    padding: 3% 7%;
}

.image {
    object-fit: cover;
    bottom: 0 !important;
    right: 0 !important;
    height: 95% !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
}

.qaImage {
    object-fit: contain;
    position: relative !important;
    width: 85% !important;
}

.logo {
    object-fit: contain;
    position: absolute;
    width: 90%;
    height: 80%;
    bottom: 14%;
}

.arrowContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 2em;
    bottom: 1%;
}

.arrowCircle {
    position: relative;
    bottom: 13.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;
    background: linear-gradient(142.34deg, #615AF4 12.37%, #41C0FF 83.85%);
    border-radius: 50%;
    cursor: pointer;
}

.textContainer {
    @include text(40px, 48px, 800, Codenext);
    @include fontBackground(#6158F3, #41C0FF, 19.19%, 96.56%);
    position: relative;
    top: 78%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondText {
    @include text(64px, 93.76px, 800, Codenext);
    left: 1em;
    position: relative;
    width: 524px;
    left: 60px;
    z-index: 5;

    .secondaryText {
        @include text(40px, 48px, 400);
        text-transform: uppercase;
    }
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    gap: 1em;
}

.thirdText {
    @include text(40px, 58.6px, 800, Codenext);
    @include fontBackground();   
}

.secondaryText {
    @include text(24px, 28.8px, 400);
    color: black;
} 

.point {
    @include flexCenter();
    gap: 3em;

    p:first-child{
        @include text(40px, 48px, 500);
        color: black;
    }
}

.logoHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
