@import "../mixins.scss";

.firstSection {
    @include flexCenter();
    flex-direction: column;
    height: 100vh;
    overflow: hidden;

    @media (max-width: 429px) {
        flex-direction: column;
        height: 100vh;
        margin-bottom: 0;
    }
}

.secondSection {
    @include flexCenter();
    background: linear-gradient(5deg, #34C3FB 1%, var(--bg-top-color) 99%);
    justify-content: space-between;
    position: relative;
    height: 105vh;
    object-fit: contain;
    overflow: hidden;
    margin-bottom: 2em;

    @media (max-width: 429px) {
        flex-direction: column;
        height: 100vh;
    }
}

.thirdSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 3% 7%;

    .contacts {
        display: none;
    }

    @media (max-width: 429px) {
        display: block;

        .contacts {
            display: block;
            margin-top: 10em;
            
            button {
                width: 132px;
                height: 29px;
            }

            p {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
}

.image {
    object-fit: cover;
    bottom: 0 !important;
    right: 0 !important;
    height: 95% !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;

    @media (max-width: 429px) {
        height: 85vw !important;
    }
}

.qaImage {
    object-fit: contain;
    position: relative !important;
    height: 800px !important;
    width: 620px !important;

    @media (max-width: 429px) {
        width: 70% !important;
        height: 50% !important;  
        margin-left: 15%;    
    }
}

.logo {
    object-fit: contain;
    position: absolute;
    width: 90%;
    height: 80%;
    bottom: 14%;

    @media (max-width: 429px) {
        object-fit: cover;
        overflow: inherit;
        width: 110%;
        height: 100%;
        bottom: 0;
    }
}

.arrowContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 2em;
    bottom: 1%;

    @media (max-width: 429px) {
        position: relative;
        bottom: 0;
    }
}

.arrowCircle {
    position: relative;
    bottom: 13.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;
    background: linear-gradient(142.34deg, #615AF4 12.37%, #41C0FF 83.85%);
    border-radius: 50%;
    cursor: pointer;

    @media (max-width: 429px) {
        width: 30px;
        height: 30px;
        bottom: 0;

        svg {
            width: 15px;
            height: 12px;
        }
    }
}

.textContainer {
    position: relative;
    top: 78%;
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
        margin-left: 1rem;
        @include text(40px, 48px, 800, Codenext);
        @include fontBackground(#6158F3, #41C0FF, 19.19%, 96.56%);
        text-align: center;
    }

    @media (max-width: 429px) {
        top: 0;

        flex-direction: column;
        p {
            @include text(20px, 29px, 800, Codenext);
            @include fontBackground(#6158F3, #41C0FF, 19.19%, 96.56%);
            margin-left: 0;
        }
    }
}

.secondText {
    @include text(64px, 93.76px, 800, Codenext);
    left: 1em;
    position: relative;
    width: 524px;
    left: 60px;
    z-index: 5;

    @media (max-width: 429px) {
        @include text(34px, 45px, 800, Codenext);
        width: 88%;    
        top: 20%;
        left: 0;
    }

    .secondaryText {
        @include text(40px, 48px, 400);
        text-transform: uppercase;
        
        @media (max-width: 429px) {
            @include text(28px, 32px, 400);
        }
    }
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3em;
    width: 90%;
    gap: 1em;

    @media (max-width: 429px) {
        gap: 2.5em;
    }
}

.thirdText {
    @include text(40px, 58.6px, 800, Codenext);
    @include fontBackground(); 
    
    @media (max-width: 429px) {
        @include text(24px, 35px, 800, Codenext);
    }
}

.secondaryText {
    @include text(24px, 28.8px, 400);
    color: black;

    @media (max-width: 429px) {
        @include text(16px, 19px, 400);
        color: black;
    }
} 

.point {
    @include flexCenter();
    gap: 3em;

    p:first-child{
        @include text(40px, 48px, 500);
        color: black;

        @media (max-width: 429px) {
            @include text(19px, 23px, 500);
            color: black;
        }
    }
}

.logoHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 429px) {
        position: relative;
        width: 100%;
        height: 50%;
        margin-top: 3em;
        margin-bottom: 2em;
    }
}

.textures {
    position: absolute;

    @media (max-width: 429px) {
        height: 100%;
    }

    img {
        position: relative !important;

        @media (max-width: 429px) {
            object-fit: cover;
            height: 60% !important;
        }
    }
}
