@import "../mixins.scss";

.firstSection {
    @include flexCenter();
    height: 100vh;
    padding: 15% 15% 4% 15%;
    gap: 3em;
    margin-bottom: 3em;

    @media (max-width: 1200px) {
        margin-bottom: 0;
        height: unset;
        justify-content: flex-start;
        flex-direction: column;
        gap: 1em;
        // position: absolute;
        margin-top: 6em;
        padding: 0;
    }
}

.secondSection {
    display: flex;
    flex-direction: column;
    padding: 0 15% 7% 15%;
    gap: 3em;
    margin-bottom: 6em;

    @media (max-width: 1200px) {
        padding: 0 7%;;
    }
}

.title {
    @include text(36px, 53px, 800, Codenext);
    color: black;

    @media (max-width: 1200px) {
        @include text(20px, 29px, 800, Codenext);
        color: black;
    }
}

.description {
    @include text(20px, 23.88px, 400);
    color: black;
    height: 300px;

    @media (max-width: 1200px) {
        @include text(12px, 14px, 400);
        color: black;
        // margin-bottom: 5em;
        height: fit-content;
    }

    :global(.ampersand) {
        font-family: Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
    }
}

.bottomDescription {
    @extend .description;
    height: unset;

    strong {
        font-size: 24px;
    
        @media (max-width: 1200px) {
           font-size: 16px;
        }
    }
}

.secondaryText {
    @include text(16px, 19px, 400);
    color: black;
}

.serviceText {
    @include text(24px, 29px, 700);
    @include fontBackground();
    margin: 1em 0 2em 0;

    @media (max-width: 1200px) {
        @include text(12px, 14px, 700);
    }
}

.carousel {
    width: 592px;
    height: 592px;

    :global(.slide) {
        display: flex;
        justify-content: center;
    }

    :global(.carousel .slide img) {
        width: 99%;
    }

    :global(.carousel.carousel-slider .control-arrow) {
        opacity: 1;
    }
    :global(.carousel.carousel-slider .control-arrow:hover) {
        background: none;
        opacity: 1;
    }

    :global(button.control-arrow.control-next)::before{
        content: url("../../assets/icons/ArrowNext.svg");
        border-left: none;
    }

    :global(button.control-arrow.control-prev)::before{
        content: url("../../assets/icons/ArrowNext.svg");
        border-right: none;
        transform: scale(-1, -1);
    }

    @media (max-width: 1200px) {
        height: 87.5vw;
        width: 87.5vw;
        display: contents;
    }
}

.descriptionSection {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 100%;

    @media (max-width: 1200px) {
        gap: 1em;
        padding: 0 7%;
    }
}

.buttons {
    margin-bottom: 5em;
    @media (max-width: 1200px) {
        button {
            width: 116px;
            height: 29px;

            p {
                font-size: 14px;
                line-height: 17px; 
            }
        }
    }
}

.image {
    object-fit: contain;
    height: 100%;
    max-width: 592px;
    max-height: 592px;
    border-radius: 32px;

    @media (max-width: 1200px) {
        max-width: 280px;
        max-height: 280px;
    }
}

.video {
    width: fit-content;
    max-width: 100%;
    @media (max-width: 1200px) {
        max-width: 85vw;
        max-height: 200px;
    }
}

.loaderWrapper {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.videos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1em;

    @media (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
