@import "../mixins.scss";

.firstSection {
    height: 100vh;
    background: linear-gradient(5deg, #34C3FB 1%, var(--bg-top-color) 99%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.secondSection{
    min-height: 100vh;
    margin: 2% 5% 7% 5%;
}

.image {
    object-fit: contain;
    z-index: 5;
    left: inherit !important;
    right: 1.5em !important;
}

.primaryText {
    @include text(96px, 140.64px, 800, Codenext);
}

.primaryTextTwo {
    @include text(48px, 70.32px, 800, Codenext);
    @include fontBackground(#6158F3, #41C0FF, 0.82%, 47.36%);
}

.textContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 7% 7% 0 7%;
    margin-bottom: 7%;
}

.casesContainer {
    @include flexCenter();
    justify-content: space-between;
    align-items: center;
    row-gap: 10em;
    flex-wrap: wrap;
    margin-top: 9em;
}
