@import "../mixins.scss";

.firstSection {
    height: 100vh;
    background: linear-gradient(5deg, #34C3FB 1%, var(--bg-top-color) 99%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media (max-width: 1200px) {
        height: 100svh;
    }
}

.secondSection{
    min-height: 100vh;
    margin: 9% 5% 27% 5%;
    height: 110vh;
}

.image {
    object-fit: contain;
    z-index: 4;
    left: inherit !important;
    right: 1.5em !important;

    @media (max-width: 1200px) {
        // right: 0 !important;
        // inset: 0 !important;
        // width: 85% !important;
        // height: auto !important;
        // margin-top: 27vh;
        // margin-left: 1.8em; 
        right: unset !important;
    }
}

.imageWrapper {
    position: absolute;
    height: 100%;
    width: 100%;

    @media (max-width: 1200px) {
        // width: 85%;
        // height: 100%;
        // margin-left: 6vh; 
    }
}

.primaryText {
    @include text(96px, 140.64px, 800, Codenext);

    @media (max-width: 1200px) {
        @include text(55px, 81px, 800, Codenext);
    }
}

.primaryTextTwo {
    @include text(48px, 70.32px, 800, Codenext);
    @include fontBackground(#6158F3, #41C0FF, 0.82%, 47.36%);
}

.textContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 7% 7% 0 7%;
    margin-bottom: 7%;

    @media (max-width: 1200px) {
        position: absolute;
        justify-content: center;
        flex-direction: column;
        gap: 20em;
        margin-top: 20%;
        padding: 0;
        margin: 0;
    }
}

.casesContainer {
    @include flexCenter();
    justify-content: space-between;
    align-items: center;
    row-gap: 10em;
    flex-wrap: wrap;
    margin-top: 9em;

    @media (max-width: 1200px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 0;
        margin-top: 0;
    }
}
