@import "../mixins.scss";

.firstSection {
    height: 100vh;
    background: linear-gradient(5deg, #34C3FB 1%, #5d4af2 99%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondSection{
    min-height: 100vh;
    margin: 2% 5% 7% 5%;
}

.image {
    object-fit: cover;
    left: 24% !important;
    top: auto !important;
    width: auto !important;
}

.primaryText {
    @include text(96px, 140.64px, 800, Codenext);
}

.primaryTextTwo {
    @include text(48px, 70.32px, 800, Codenext);
    @include fontBackground(#6158F3, #41C0FF, 0.82%, 47.36%);
}

.textContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 7%;
}

.casesContainer {
    @include flexCenter();
    row-gap: 10em;
    column-gap: 154px;
    flex-wrap: wrap;
    margin-top: 9em;
}
