@import "../mixins.scss";

.pageWrapper {
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.firstSection {
    @include flexCenter();
    gap: 9em;
    min-height: 150vh;
    height: 220vh;
    background: linear-gradient(5deg, #34C3FB 1%, var(--bg-top-color) 99%);
    align-items: flex-start;

    @media (max-width: 1200px) {
        min-height: 200vh;
        height: 260vh;
    }
}

.text {
    @include text(70px, 83.36px, 700);
    width: 6em;
    position: relative;
    @media (max-width: 1200px) {
        @include text(40px, 53px, 800, Codenext);
        text-align: center;
        left: 0;
        width: 7em;
    }
}

.leftSection {
    @include flexCenter();
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5em;
    margin-top: 3em;
    
    @media (max-width: 1200px) {
        margin-top: 10em;
        align-items: center;
    }
}

.thankYou {
    @include flexCenter();
    gap: 3em;
}

.thankYouText{    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;

    p {
        @include text(30px, 36px, 400);
        @media (max-width: 1200px) {
            @include text(16px, 19px, 400);
        }
    }
    p:first-child {
        @include text(48px, 63.36px, 800, Codenext);
        @media (max-width: 1200px) {
            @include text(24px, 32px, 800, Codenext);
        }
    }

    div {
        // margin-top: 1em;
    }

    @media (max-width: 1200px) {
        align-items: center;
    }
}

.image {
    width: 15% !important;
    height: 15% !important;

    @media (max-width: 1200px) {
        width: 35% !important;
        height: 35% !important;
    }
}

.container {
    @include flexCenter();
    gap: 3em;

    @media (max-width: 1200px) {
        flex-direction: column;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) !important;
    }
}

.containerLeft{
    display: flex;
    gap: 12em;
    // margin: 8em 0 10em 0;
    align-items: flex-start;
    position: relative;
    transform: translateY(20vh);

    @media (max-width: 1200px) {
        transform: unset;
        flex-direction: column-reverse;
        align-items: center !important;
        margin-top: 10em;
        gap: 0;
    }

    @media (min-height: 800px) {
        // margin-top: 10em;
    }

    @media (min-height: 900px) {
        // margin-top: 12em;
    }
}

.number {
    @include text(45px, 50px, 700);

    position: relative;
    color: white;

    @media (max-width: 1200px) {
        @include text(24px, 26.8px, 700);
        display: flex;
        align-items: center;
        left: unset;
    }
}

.numberWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 50px;
    padding: 4px;
    transition: all 0.4s;

    &:hover {
        background: white;
        p {
            @include fontBackground(var(--gradient-dark-color), var(--gradient-light-color), 5.06%, 100%);

        }
    }
}

.submitted {
    height: 100vh;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.submittedFirstSection {
    height: 100vh;
    width: 100vw;
    min-height: unset;
    align-items: center;
}

.submittedMobile {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
