@import "../mixins.scss";

.firstSection {
    @include flexCenter();
    gap: 9em;
    height: 100vh;
    background: linear-gradient(5deg, #34C3FB 1%, #5149e0 99%);
}

.text {
    @include text(48px, 63.36px, 700);
    width: 6em;
    position: relative;
    left: 0.5em;
}

.leftSection {
    @include flexCenter();
    flex-direction: column;
    align-items: flex-start;
    gap: 3em;
}

.feedbackForm {
    @include flexCenter();
    flex-direction: column;
    align-items: flex-start;
    gap: 3em;

    .title {
        @include text(36px, 41.76px, 800, Codenext);
    }

    .inputName {
        @include text(24px, 28.8px, 700);
    }

    .input {
        @include text(24px, 28.8px, 700);
        background: transparent;
        width: 100%;
        border-bottom: 3px solid white;
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;

        &:focus-visible {
            outline: none;
        }

        &::placeholder {
            color: #92E0FF;
        }
    }

    .inputField {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
    }
}

.thankYou {
    @include flexCenter();
    gap: 3em;
}

.thankYouText{    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;

    p {
        @include text(30px, 36px, 400);
    }
    p:first-child {
        @include text(48px, 63.36px, 800, Codenext);
    }

    div {
        margin-top: 1em;
    }
}

.image {
    width: 15%;
    height: 15%;
}

.container {
    @include flexCenter();
    gap: 3em;
}

.containerLeft{
    display: flex;
    gap: 9em;
}
