@import "../mixins.scss";

.firstSection {
    @include flexCenter();
    flex-direction: column;
    height: 105vh;
}

.secondSection {
    @include flexCenter();
    overflow: hidden;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(5deg, #34C3FB 1%, var(--bg-top-color) 99%);
}

.counter {
    @include text(270px, 324px, 700);
    @include fontBackground();

    @media (max-width: 900px) {
        @include text(187px, 224px, 700);  
    }
}

.partnersButton {
    @include text(60px, 88px, 800, Codenext);
    @include button(642px, 123px, 70px);
    cursor: default;

    @media (max-width: 900px) {
        @include text(24px, 35px, 700);  
        @include button(280px, 48px, 70px);
    }
}

.secondaryText {
    @include text(24px, 29px, 400);
    color: black;
    margin-top: 32px;
    margin-bottom: 2em;

    @media (max-width: 900px) {
        @include text(18px, 22px, 700);  
        color: black;
        width: 80%;
        text-align: center;
    }
}

.logo {
    object-fit: contain;
    height: auto !important;
    top: 2% !important;
    z-index: 1;

    @media (max-width: 1400px) {
        top: 4% !important;
    }

    @media (max-width: 900px) {
        object-fit: cover;
        height: 90vw !important;
        width: 100% !important;
        top: 11% !important;
    }
}

.partnerLogo{
    object-fit: contain
}

.logosContainer{
    @include flexCenter();
    flex-wrap: wrap;
    gap: 9em;
    margin-bottom: 10em;
    margin-top: 15em;

    @media (max-width: 900px) {
        gap: 5em;
        margin-top: 13em;
    }
}

.wrapper {
    position: relative;
    width: 300px;
    height: 200px;

    @media (max-width: 900px) {
        width: 100px;
        height: 100px;
    }
}

.parallax {
    position: relative;
    margin-top: 8%;
    top: 13%;
    z-index: 0;

    div:not(:first-child) {
        margin-top: 5.5%;

        @media (max-width: 900px) {
            margin-top: 58vw;
        }
    }

    @media (max-width: 900px) {
        margin-top: 35%;
    }
}

.counterWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
