@import "../mixins.scss";

@property --num {
    syntax: "<integer>";
    initial-value: 1;
    inherits: false;
  }

  @keyframes counter {
    from {
      --num: 1;
    }
    to {
      --num: 57;
    }
  }

.firstSection {
    @include flexCenter();
    flex-direction: column;
    height: 105vh;
}

.secondSection {
    @include flexCenter();
    overflow: hidden;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(5deg, #34C3FB 1%, var(--bg-top-color) 99%);
}

.counter {
    @include text(270px, 324px, 700);
    @include fontBackground();
    animation: counter 3s 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    counter-set: num var(--num);

    &::after {
        content: counter(num);
        transition: 0.3s
    }
}

@-moz-document url-prefix() {
    .counter {
        &::after {
            content: "57";
        }
    }
}

.partnersButton {
    @include text(60px, 88px, 800, Codenext);
    @include button(642px, 123px, 70px);
    cursor: default;
}

.secondaryText {
    @include text(24px, 29px, 400);
    color: black;
    margin-top: 32px;
}

.logo {
    object-fit: contain;
    height: auto !important;
    top: 2% !important;
    z-index: 1;

    @media (max-width: 1400px) {
        top: 4% !important;
    }
}

.partnerLogo{
    object-fit: contain
}

.logosContainer{
    @include flexCenter();
    flex-wrap: wrap;
    gap: 9em;
    margin-bottom: 10em;
    margin-top: 15em;
}

.wrapper {
    position: relative;
    width: 300px;
    height: 200px;
}

.parallax {
    position: relative;
    margin-top: 10%;
    top: 13%;
    z-index: 0;

    div:not(:first-child) {
        margin-top: 5.5%;
    }
}
