@import "../mixins.scss";

@property --num {
    syntax: "<integer>";
    initial-value: 57;
    inherits: false;
  }

  @keyframes counter {
    from {
      --num: 1;
    }
    to {
      --num: 57;
    }
  }

.firstSection {
    @include flexCenter();
    flex-direction: column;
    height: 100vh;
}

.secondSection {
    @include flexCenter();
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(5deg, #34C3FB 1%, #5149e0 99%);
}

.counter {
    @include text(270px, 324px, 700);
    @include fontBackground();
    animation: counter 14s 1 cubic-bezier(.65,.1,.28,.94);
    counter-set: num var(--num);

    &::after {
        content: counter(num);
        transition: 0.3s
    }
}

.partnersButton {
    @include text(60px, 88px, 800, Codenext);
    @include button(642px, 123px, 70px);
    cursor: default;
}

.secondaryText {
    @include text(24px, 29px, 400);
    color: black;
    margin-top: 32px;
}

.logo {
    object-fit: cover;
    position: relative !important;
}

.partnerLogo{
    object-fit: contain
}

.logosContainer{
    @include flexCenter();
    flex-wrap: wrap;
    gap: 9em;
    margin-bottom: 10em;
}

.wrapper {
    position: relative;
    width: 300px;
    height: 200px;
}
