@import "../mixins.scss";

.firstSection {
    @include flexCenter();
    gap: 9em;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(5deg, #34C3FB 1%, #5149e0 99%);
    padding: 2% 15% 7% 15%;

    @media (max-width: 1200px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 2em;
        justify-content: flex-start;

        :global(.arrow-scroll) {
            align-self: center
        }
    }
}

.secondSection{
    @include flexCenter();
    margin-top: 2em;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;

    @media (max-width: 1200px) {
       height: unset;
    }
}

.description {
    @include text(18px, 22.88px, 400);
    @media (max-width: 1200px) {
        @include text(18px, 28px, 400);
    }
}

.title {
    @include text(36px, 41.76px, 800, Codenext);

    @media (max-width: 1200px) {
        @include text(20px, 23px, 800, Codenext);
        width: 80%;
    }
}

.secondTitle{
    @include text(36px, 41.76px, 800, Codenext);
    @include fontBackground();

    @media (max-width: 1200px) {
        @include text(24px, 28px, 800, Codenext);
        padding: 0 15%;
        margin-right: auto;
    }
}

.serviceIcon {
    display: flex;
    position: absolute;

    @media (max-width: 1200px) {
        height: 42px;
        width: 42px;
        align-items: center;
    }
}

.iconBackground{
    @include flexCenter();
    width: 287px;
    height: 287px;
    background: white;
    border-radius: 50%;

    @media (max-width: 1200px) {
        height: 112px;
        width: 112px;

        svg {
            height: 89px;
            width: 89px; 
        }
    }
}

.leftSection {
    @include flexCenter();
    flex-direction: column;
    align-items: flex-start;
    gap: 3em;

    @media (max-width: 1200px) {
        margin-top: 7em;
    }
}

.descriptionSection {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.buttons {
    display: flex;
    gap: 3em;

    @media (max-width: 1200px) {
        gap: 1em;
        margin-bottom: 30px;

        button {
            width: 116px;
            height: 29px;

            p {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }

    @media (max-width: 500px) {
        justify-content: space-between;
    }
}

.circle{
    min-width: 9px;
    min-height: 9px;
    background: linear-gradient(142.34deg, #615AF4 12.37%, #41C0FF 83.85%);
    border-radius: 50%;
    margin: 1em;
}

.point {
    @include flexCenter();
    @include text(24px, 28px, 400);
    color: black;

    @media (max-width: 1200px) {
        @include text(14px, 16px, 400);
        color: black;
    }
}

.pointsContainer{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: flex-start;
    gap: 6em;
    padding: 6em;

    @media (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
        padding: 1em;
        margin-right: auto;
    }
}

.step {
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, var(--gradient-light-color), var(--gradient-dark-color));
    width: 82%;
    display: flex;

    .stepContainer {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    p {
        @include text(16px, 18.56px, 400);
        color: black;
        padding: 9px 0;
    }

    .plus {
        position: absolute;
        transform: rotate(90deg);
        right: 0;
    }
}

.loaderWrapper {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.caseButton {
    display: none;
    @media (max-width: 1200px) {
        margin-right: auto;
        padding: 1.5em 15% 1em 15%;
        display: block;
        button {
            width: 116px;
            height: 29px;

            p {
                font-size: 14px;
                line-height: 17px; 
            }
        }
    }
}

.extraButton {
    @media (max-width: 1200px) {
       display: none;
    }
}
