@import "../mixins.scss";

.firstSection {
    height: 100vh;
    background: linear-gradient(5deg, #34C3FB 1%, var(--bg-top-color) 99%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @media (max-width: 1200px) {
        height: 100svh;
    }
}

.secondSection{
    min-height: 100vh;
    margin: 1% 7% 7% 7%;
}

.image {
    object-fit: contain;
    inset: 0 0 0 6.5% !important;
    position: relative !important;
    // height: 90% !important;
    // width: 90% !important;

    @media (max-width: 1200px) {
        // margin-bottom: 4em;
        // margin-left: 2em;
        // height: 80% !important;
        // width: 80% !important;
    }
}

.imageWrapper {
    height: 90%;
    width: 90%;
    position: relative;

    @media (max-width: 1200px) {
        // margin-bottom: 4vh;
        margin-left: 3vh;
        height: 85vw;
        width: 65vh;
    }
}

.primaryText {
    @include text(96px, 140.64px, 800, Codenext);

    @media (max-width: 1200px) {
        @include text(55px, 81px, 800, Codenext);

        &:first-child {
            margin-bottom: 45svh;
        }
    }
}

.textWrapper {
    width: 224px;
    align-self: center;

    @media (max-width: 1200px) {
        display: flex;
        justify-content: center;
        align-self: center;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

.placeholder {
    @media (max-width: 1200px) {
        display: none;
    }
}

.primaryTextTwo {
    @include text(48px, 70.32px, 800, Codenext);
    @include fontBackground(#6158F3, #41C0FF, 0.82%, 47.36%);
    white-space: nowrap;
    position: absolute;

    @media (max-width: 1200px) {
        left: unset;
        @include text(24px, 35px, 800, Codenext);
    }
}

.textContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 7%;
    position: absolute;
    top: 29%;

    @media (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
        margin-top: 8em;
        top: 0;
        padding: 0;
    }
}

.servicesContainer{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 3em;
    justify-items: center;
    margin: 0 0 7% 0;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        row-gap: 2em;
        margin-bottom: 17%;
        justify-items: center;
    }
}

.contacts {
    position: relative;
    grid-column-start: 1;
    width: 224px;
    @media (max-width: 1200px) {
        left: unset;
        grid-column-end: 3;
        display: flex;
        justify-content: center;
        button {
            width: 132px;
            height: 29px;
        }

        p {
            font-size: 14px;
            line-height: 17px;
        }
}
}
