.fontTest {
    font-family: Codenext;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: flex;
    margin: 0 50px 0 50px;
    gap: 65px;

    a {
        background: linear-gradient(91.91deg, #FFFFFF 1.14%, #605BF4 1.15%, #596DF5 98.86%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Craftwork Grotesk;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: white;

    width: 178px;
    height: 38px;
    background: linear-gradient(90.09deg, #615AF4 0.06%, #34C3FB 99.92%);
    border-radius: 30px;
}
