@import "@/styles/mixins.scss";

.button {
    @include button();
    @include text();

    &.dark {        
        background: white;
        text-decoration: none;

        &:hover {
            transform: scale(101%)
        }
    
        transition: all 0.2s;

        p {
           @include fontBackground();
        }
    }
}