@import "@/styles/mixins.scss";

.box {
    @include flexCenter();
    flex-direction: column;
    gap: 1em;
    width: 224px;
    height: 210px;
    cursor: pointer;

    background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, var(--gradient-dark-color), var(--gradient-light-color)) border-box;
    border: 3px solid transparent;

    box-shadow: -29px 23px 15px rgba(126, 124, 124, 0.01), -17px 13px 13px rgba(126, 124, 124, 0.05), -7px 6px 9px rgba(126, 124, 124, 0.09), -2px 1px 5px rgba(126, 124, 124, 0.1), 0px 0px 0px rgba(126, 124, 124, 0.1);
    border-radius: 20px;

    &:hover {
        transform: scale(105%);
    }

    transition: all 0.3s;

    text-decoration: none;

    @media (max-width: 429px) {
        background: none;
        box-shadow: none;
        width: 96px;
        height: unset;
    }
}

.icon {
    @include flexCenter();
    height: 97px;
    width: 97px;
    background: linear-gradient(180deg, var(--gradient-dark-color) 0%, var(--gradient-light-color) 100%);
    border-radius: 50%;

    @media (max-width: 429px) {
        height: 56px;
        width: 56px;

        svg {
            height: 45px;
            width: 45px;
        }
    }
}

.serviceIcon {
    display: flex;
    position: absolute;

    @media (max-width: 429px) {
        svg {
            height: 21.35px;
            width: 21.35px;
        }
    }
}

.title {
    @include text(24px, 29px, 400);
    color: black;
    text-align: center;
    
    @media (max-width: 429px) {
        @include text(14px, 17px, 400);
        color: black;
    }
}